<p style="color: green"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
  </p>

<div>
  <%= link_to "Edit this user", edit_user_registration_path(current_user) %> |
</div>
