<div id="<%= dom_id record %>", class='record'>
  <p class= 'category-name'>
   <span> <strong>Name:</strong> <%= record.name %> </span>
  </p>
  <p class= 'category-amount'>
    $<%= record.amount%>
  </p>

</div>
