<div id="<%= dom_id category %>">
  <p>
    <%= image_tag("icons/#{category.icon}") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= total_amount(category)%>
</div>
