<div class='blue-header header-large'>
  <%= image_tag('menu.png', class:'menu')  %>
  </span>
  <h1>Categories</h1>
  <span> icon </span>
</div>
<div id="categories">
  <% @categories.each do |category| %>
    <div class = 'category-holder'>
      <%= link_to (render category), user_category_records_path(user_id: current_user.id, category_id:category.id), class: 'category' %>
    </div>
  <% end %>
</div>
<div class='new-btn-holder'>
  <%= link_to "New category", new_user_category_path, class: 'btn btn-new' %>
</div>