<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "See records for this category", user_category_records_path(user_id: current_user.id, category_id:category.id) %>
      <%= link_to "Show this category", user_category_path(user_id: current_user.id, id: category.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_user_category_path %>
